/* Imports  */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');


/* Estilos base para todos os arquivos html */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}

html {
    font-size: 10px;
}

:root {
    --clr-primary: #fffff4;
    --clr-secondary: #bc542c;
    --font: 'Inika', serif;
}

body {
    background-color: var(--clr-primary);
    font-family: var(--font);
}

.btn {
    color: var(--clr-primary);
    background-color: #bc452c;
    border: 0;
    border-radius: 14px;
    margin-inline: auto;
    font-size: 2.4rem !important;
    width: 18.8rem !important;
}

button:hover, input:hover {
    cursor: pointer;
}

.section-title {
    font-size: 3.6rem;
    margin-inline: auto;
    width: 80%;
    margin-bottom: 9.4rem;
    text-align: center;
}

main {
    margin-top: 15rem;
}

a, a:visited {
    text-decoration: none;
    color:#bc452c
}

/* Estilo da barra de navegação */

header {
    align-items: center;
    background-color: var(--clr-secondary);
    display: flex;
    min-height: 7rem;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-inline: 14rem;
    min-height: auto;
    width: 100%;
}


header a {
    color: var(--clr-primary);
}

header a:visited {
    color: var(--clr-primary)
}

main i {
    color: var(--clr-secondary)
}

/* Estilo dos formularios */

.form-section {
    border: solid #000000 1px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0;
    max-width: 50%;
    margin-inline: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-block: 2rem;
}


.form-group, .btn-large {
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44rem;
}


label {
    font-size: 2.4rem;
}

input {
    border: solid #000000 1px;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-size: 2rem;
    min-height: 4.9rem;
    padding-inline: .8rem;
}

.btn-large {
    max-width: 25.8rem !important;
}

.form-redirect {
    font-size: 2rem;
    margin-bottom: 2rem;
    max-width: 27.5rem;
    text-align: center;
}

.form-redirect-link {
    text-decoration: underline;
}

/* Estilo da página de criação de posts */

#description {
    border: 1px solid black;
    border-radius: 10px;
    width: 53rem !important;
    height: 27.5rem !important;
    font-size: 2rem;
    font-family: 'Inika', serif;
    padding: .8rem;
    resize: none;
}

.form-submit {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 40.6rem;
}

.form-submit button {
    padding-block: .95rem
}

.form-submit a{
    text-align: center;
    max-width: 18.8rem;
    padding-block: .8rem;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-submit a:visited {
    color: var(--clr-primary)
}

/* Estilo da página principal */


.homepage-section {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-inline: 14rem;
    gap: 1.5rem;
}

.homepage-section > * {
    flex: 1 1 50rem;
}

.container-title {
    font-size: 2.4rem;
    text-align: center;
}


.card {
    display: flex;
    border: solid black 1px;
    border-radius: 5px;
    min-height: 7.7rem;
    margin-bottom: 20px;
}

.card i {
    margin-inline: 2.5rem;
}

.card button {
    border: 0;
    background-color: transparent;
}

.invisible > i {
    background-color: transparent;
    color: transparent;
}

.invisible:hover {
    cursor: auto;
}

.card-description,
.card a {
    padding-block: 2.3rem;
}


.card-description {
    font-size: 2rem;
    flex: 1 1;
    width: 37.9rem;
    word-wrap: break-word;
}

.inactive-description {
    text-decoration: line-through;
}

hr {
    border: 0;
    background-color: black;
    width: 1px;
}

.horizontal {
    width: calc(100% - 130px); 
    height: 1px;
    margin: auto;
}

a > .card > i {
    padding-block: 2.3rem;
}

@media  screen and (max-width: 1040px) {
    .homepage-section, nav {
        margin-inline: 1rem;
    }

    .form-section {
        max-width: 100%;
    }

    main {
        margin-top: 10rem;
    }

    .section-title {
        font-size: 2.6rem;
        margin-bottom: 4rem;
    }

    .form-title {
        font-size: 2.4rem;
    }

    .form-group label, .form-redirect {
        font-size: 1.8rem;
    }

    form {
        max-width: calc(100% - 2rem);    
        
    }
    .container-title {
        font-size: 2.2rem;
    }

    .card-description {
        width: 100px;
        font-size: 2.0rem;
    }

    .card-container:nth-child(3) {
        order: 3;
    }
    .card-container:nth-child(1) {
        order: 2;
    }
    .card-container:nth-child(2) {
        order: 1;
    }

   .form-section {
        border: 0;
        box-shadow: none;
   } 
}