<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskToDo | {{ title }}</title>
</head>
<body>
   <header>
        <a href=" {{ url_for('home') }}"><i class="fa-solid fa-house fa-3x"></i></a>
        {% if "nome" in session %}
            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i></a>
        {% endif %}
   </header> 
   <main>
        {% block content %}
        {% endblock content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
   </main>
   <script src="https://kit.fontawesome.com/286fab062e.js" crossorigin="anonymous"></script>
</body>
</html>