{% extends "base.html" %}
{% block content %}
   <div class="container">
       <h1 class="section-title">Criar nova tarefa</h1>
   </div> 

    <form method="post" enctype="application/x-www-form-urlencoded" class="new-post-form" id="post-form">
        <div class="form-group task-form">
            <label for="description">Descrição da tarefa</label>
            <textarea form="post-form" name="description" id="description" required maxlength="500"></textarea>
        </div>

        <div class="form-submit">
            <button type="submit" class="btn">Concluir</button>
            <a href="{{ url_for('home') }}" class="btn">Cancelar</a>
        </div>
    </form>
{% endblock content %}