{% extends "base.html" %}
{% block content %}
    <h1 class="section-title home-title">Olá, {{ session["nome"]}}! Estas são as suas tarefas</h1>
    <section class="homepage-section">
        <div class="card-container">
            <h1 class="container-title">Ativas</h1>
            {% if active_tasks != None %}
                {% for task in active_tasks %}
                    <div class="card">
                        <form action="complete/{{ task['id_tarefa'] }}" method="post">
                            <button type="submit"><i class="fa-solid fa-square-check fa-2x"></i></button>
                        </form>
                        <p class="card-description">
                            {{ task["descricao"] }}
                        </p>
                        <form>
                            <button disabled="disabled" class="invisible"><i class="fa-solid fa-square-check fa-2x"></i></button>
                        </form>
                    </div>
                {% endfor %}
            {% endif%}
        </div>
        <div class="card-container">
            <h1 class="container-title">Concluídas</h1>
            {% if inactive_tasks != None %}
                {% for task in inactive_tasks %}
                    <div class="card">
                        <form action="alter/{{ task['id_tarefa'] }}" method="post">
                            <button type="submit"><i class="fa-solid fa-square-minus fa-2x"></i></button>
                        </form>
                        <p class="card-description inactive-description">
                            {{ task["descricao"] }}
                        </p>
                        <form action="remove/{{ task['id_tarefa'] }}" method="post">
                            <button type="submit"><i class="fa-solid fa-square-xmark fa-2x"></i></button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-container">
            <h1 class="container-title">Adicionar nova tarefa</h1>
        <a href="{{ url_for('create') }}">
            <div class="card">
                <i class="fa-solid fa-pen-to-square fa-3x"></i>
                <hr>
                <hr class="horizontal">
            </div>
        </a>
        </div>
    </section>
{% endblock content %}